<h1>Character Sheet</h1>

<div class="topOfScreen">
    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" id="characterName" rows="3"></textarea>
        <label for="characterName">Character Name</label>
    </div>

    <div class="col-xs-3 col-md-3">
        <textarea class="form-control" id="classNLevel" rows="1"></textarea>
        <label for="classNLevel">Class and Level</label>
    </div>

    <div class="col-xs-3 col-md-3">
        <textarea class="form-control" id="characterBackground" rows="1"></textarea>
        <label for="characterBackground">Background</label>
    </div>

    <div class="col-xs-2 col-md-2">
        <textarea class="form-control" id="playerName" rows="1"></textarea>
        <label for="playerName">Player Name</label>
    </div>

    <div class="col-xs-3 col-md-3">
        <textarea class="form-control" id="characterRace" rows="1"></textarea>
        <label for="characterRace">Race</label>

        <!-- <select id="selectRace" name="race">
        <option label="charRace">Race</option>
        </select> -->
    </div>

    <div class="col-xs-3 col-md-3">
        <textarea class="form-control" id="characterAlignment" rows="1"></textarea>
        <label for="characterAlignment">Alignment</label>

        <!-- <select id="selectAlignment" name="alignment">
        <option label="charAlign">Alignment</option>
        </select> -->
    </div>

    <div class="col-xs-2 col-md-2">
        <textarea class="form-control" id="characterExp" rows="1"></textarea>
        <label for="characterExp">Experience Points</label>
    </div>
</div>

<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="characterStr" rows="3"></textarea>
    <label for="characterStr">Strength</label>
</div>
<div class="col-xs-2 col-md-2">
    <textarea class="form-control" id="characterInsp" rows="1"></textarea>
    <label for="characterInsp">Inspiration</label>
</div>


<div id="hpAndArmor" class="col-xs-5 col-md-5">

    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" id="characterArmor" rows="2"></textarea>
        <label for="characterArmor">Armor Class</label>
    </div>

    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" id="characterInit" rows="2"></textarea>
        <label for="characterInit">Initiative</label>
    </div>

    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" id="characterSpeed" rows="2"></textarea>
        <label for="characterSpeed">Speed</label>
    </div>

    <div class="col-xs-12 col-md-12">
        <textarea class="form-control" id="characterCurrHp" rows="3"></textarea>
        <label for="characterCurrHp">Current HP</label>
    </div>

    <div class="col-xs-12 col-md-12">
        <textarea class="form-control" id="characterTempHp" rows="3"></textarea>
        <label for="characterTempHp">Temporary HP</label>
    </div>

    <div class="col-xs-6 col-md-6">
        <textarea class="form-control" id="characterHitDice" rows="2"></textarea>
        <label for="characterHitDice">Hit Dice</label>
    </div>

    <div class="col-xs-6 col-md-6">
        <textarea class="form-control" id="characterDeathSaves" rows="2"></textarea>
        <label for="characterDeaethSaves">Death Saves</label>
    </div>

</div>








<div class="col-xs-4 col-md-4">
    <textarea class="form-control" id="characterStr" rows="15"></textarea>
</div>



<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="characterDex" rows="1"></textarea>
    <label for="characterDex">Dexterity</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="characterConst" rows="1"></textarea>
    <label for="characterConst">Constitution</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="characterInt" rows="1"></textarea>
    <label for="characterInt">Intelligence</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="characterWis" rows="1"></textarea>
    <label for="characterWis">Wisdom</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="characterChar" rows="1"></textarea>
    <label for="characterChar">Charisma</label>
</div>





<div class="col-xs-2 col-md-2">
    <textarea class="form-control" id="characterProfBonus" rows="1"></textarea>
    <label for="characterProfBonus">Proficiency Bonus</label>
</div>
<div class="col-xs-2 col-md-2">
    <textarea class="form-control" id="characterSavingThrows" rows="1"></textarea>
    <label for="characterSavingThrows">Saving Throws</label>
</div>
<div class="col-xs-2 col-md-2">
    <textarea class="form-control" id="characterSkills" rows="15"></textarea>
    <label for="characterSkills">Skills</label>
</div>
<div class="col-xs-2 col-md-2">
    <textarea class="form-control" id="characterPercep" rows="1"></textarea>
    <label for="characterPercep">Passive Wisdom (Perception)</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
<div class="col-xs-1 col-md-1">
    <textarea class="form-control" id="character" rows="1"></textarea>
    <label for="character">Text</label>
</div>
