<nav class="navbar-fixed-top" id="navigation">
    <a href="/home">HOME</a>
    <a href="/sheet">CREATE</a>
</nav>

<div id="container">


<h1>Character Sheet</h1>
<hr />
<div class="dice" rows="1">
    <h4 id="diceResults">Dice Roll: 0</h4>
    <h4 id="diceResultsMultiple">Stat Roll: 0</h4>
    <button type="button" onclick="diceRoll()">Roll One Dice</button>
    <button type="button" onclick="statRolls()">Roll Multiple (3)</button>
</div>

<form class="characterForm" ng-submit="sheet.sheet()">

<div id="topOfScreen" class="topOfScreen col-xs-12 col-md-12 noPadding">
    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterName" rows="1"></textarea>
        <label for="characterName">Character Name</label>
    </div>

    <div class="col-xs-2 col-md-2 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterClass" ng-options="charclass as charclass.class for charclass in sheet.classes"></select>
        <label for="characterClass">Class</label>
    </div>

    <div class="col-xs-1 col-md-1 noPadding">
        <textarea class="form-control" ng-model="sheet.character.characterLevel" rows="1"></textarea>
        <label for="characterLevel">Level</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <textarea class="form-control" ng-model="sheet.character.characterBackground" rows="1"></textarea>
        <label for="characterBackground">Background</label>
    </div>

    <div class="col-xs-2 col-md-2">
        <textarea class="form-control" ng-model="sheet.character.playerName" rows="1"></textarea>
        <label for="playerName">Player Name</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterRace" ng-options="race as race.race for race in sheet.races">Select Race</select>
        <label for="characterRace">Character Race</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="sheet.character.charAlign" ng-options="alignment as alignment.alignment for alignment in sheet.alignments"></select>
        <label for="charAlign">Character Alignment</label>
    </div>

    <div class="col-xs-2 col-md-2 ">
        <textarea class="form-control" ng-model="sheet.character.characterExp" rows="1"></textarea>
        <label for="characterExp">Experience Points</label>
    </div>
</div>

<div id="leftSide" class="col-xs-4 col-md-4">

    <div id="attributes" class="col-xs-4 col-md-4 noPaddingL">

        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterStr" rows="1"></textarea>
        <label for="characterStr">Strength</label>

        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterDex" rows="1"></textarea>
        <label for="characterDex">Dexterity</label>

        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterConst" rows="1"></textarea>
        <label for="characterConst">Constitution</label>

        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterInt" rows="1"></textarea>
        <label for="characterInt">Intelligence</label>

        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterWis" rows="1"></textarea>
        <label for="characterWis">Wisdom</label>

        <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterChar" rows="1"></textarea>
        <label for="characterChar">Charisma</label>

        <button type="button" ng-click="sheet.setSkillBonuses()" rows="3">Check Skill Bonuses</button>

    </div><!-- End of attributes section !-->


    <div class="col-xs-8 col-md-8 noPadding">

        <input type="text" class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterInsp" rows="1"/>
        <label for="characterInsp">Inspiration</label>
<hr />
        <input type="text" class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterProfBonus" rows="1"/>
        <label for="characterProfBonus">Proficiency Bonus</label>
<hr />
        <textarea class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterSavingThrows" rows="5"></textarea>
        <label for="characterSavingThrows">Saving Throws</label>
<hr />

    <div class="col-xs-6 col-md-6 noPadding" id="skills">
        <input type="text" id="charSkillsDex"class="form-control" name="charSkillsDex" ng-model="sheet.character.characterSkillsAcrobatics"/>
        <label class="theSkillLabels" for="characterSkill">Acrobatics (Dex)</label>

        <input type="text" id="charSkillsWis"class="form-control" name="charSkillsWis" ng-model="sheet.character.characterSkillsAnimalHandling"/>
        <label class="theSkillLabels" for="characterSkill">Animal Handling (Wis)</label>

        <input type="text" id="charSkillsInt"class="form-control" name="charSkillsInt" ng-model="sheet.character.characterSkillsArcana"/>
        <label class="theSkillLabels" for="characterSkill">Arcana (Int)</label>

        <input type="text" id="charSkillsStr"class="form-control" name="charSkillsStr" ng-model="sheet.character.characterSkillsAthletics"/>
        <label class="theSkillLabels" for="characterSkill">Athletics (Str)</label>

        <input type="text" id="charSkillsChar"class="form-control" name="charSkillsChar" ng-model="sheet.character.characterSkillsDeception"/>
        <label class="theSkillLabels" for="characterSkill">Deception (Cha)</label>

        <input type="text" id="charSkillsInt"class="form-control" name="charSkillsInt" ng-model="sheet.character.characterSkillsHistory"/>
        <label class="theSkillLabels" for="characterSkill">History (Int)</label>

        <input type="text" id="charSkillsWis"class="form-control" name="charSkillsWis" ng-model="sheet.character.characterSkillsInsight"/>
        <label class="theSkillLabels" for="characterSkill">Insight (Wis)</label>

        <input type="text" id="charSkillsChar"class="form-control" name="charSkillsChar" ng-model="sheet.character.characterSkillsIntimidation"/>
        <label class="theSkillLabels" for="characterSkill">Intimidation (Cha)</label>

        <input type="text" id="charSkillsInt"class="form-control" name="charSkillsInt" ng-model="sheet.character.characterSkillsInvestigation"/>
        <label class="theSkillLabels" for="characterSkill">Investigation (Int)</label>
</div>


<div class="col-xs-6 col-md-6 noPadding" id="skills">

        <input type="text" id="charSkillsWis"class="form-control" name="charSkillsWis" ng-model="sheet.character.characterSkillsMedicine"/>
        <label class="theSkillLabels" for="characterSkill">Medicine (Wis)</label>

        <input type="text" id="charSkillsInt"class="form-control" name="charSkillsInt" ng-model="sheet.character.characterSkillsNature"/>
        <label class="theSkillLabels" for="characterSkill">Nature (Int)</label>

        <input type="text" id="charSkillsWis"class="form-control" name="charSkillsWis" ng-model="sheet.character.characterSkillsPerception"/>
        <label class="theSkillLabels" for="characterSkill">Perception (Wis)</label>

        <input type="text" id="charSkillsChar"class="form-control" name="charSkillsChar" ng-model="sheet.character.characterSkillsPerformance"/>
        <label class="theSkillLabels" for="characterSkill">Performance (Cha)</label>

        <input type="text" id="charSkillsChar"class="form-control" name="charSkillsChar" ng-model="sheet.character.characterSkillsPersuasion"/>
        <label class="theSkillLabels" for="characterSkill">Persuasion (Cha)</label>

        <input type="text" id="charSkillsInt"class="form-control" name="charSkillsInt" ng-model="sheet.character.characterSkillsReligion"/>
        <label class="theSkillLabels" for="characterSkill">Religion (Int)</label>

        <input type="text" id="charSkillsDex"class="form-control" name="charSkillsDex" ng-model="sheet.character.characterSkillsSleightOfHand"/>
        <label class="theSkillLabels" for="characterSkill">Sleight of Hand (Dex)</label>

        <input type="text" id="charSkillsDex"class="form-control" name="charSkillsDex" ng-model="sheet.character.characterSkillsStealth"/>
        <label class="theSkillLabels" for="characterSkill">Stealth (Dex)</label>

        <input type="text" id="charSkillsWis"class="form-control" name="charSkillsWis" ng-model="sheet.character.characterSkillsSurvival"/>
        <label class="theSkillLabels" for="characterSkill">Survival (Wis)</label>

</div>
<hr />




    </div> <!-- end of skills !-->



    <div class="col-xs-12 col-md-12 noPadding">
        <textarea class="form-control" ng-model="sheet.character.characterPercep" rows="1"></textarea>
        <label for="characterPercep">Passive Wisdom (Perception)</label>
    </div>

    <div class="col-xs-12 col-md-12 noPadding">
        <textarea class="form-control" ng-model="sheet.character.characterLanguages" rows="10"></textarea>
        <label for="characterLanguages">Other Proficiences and Languages</label>
    </div>
</div> <!-- end of left column !-->





<div id="theMiddle" class="col-xs-4 col-md-4">
        <div id="hpAndArmor">

        <div class="col-xs-4 col-s-4 col-md-4 noPaddingL">
            <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterArmor" rows="1"></textarea>
            <label for="characterArmor">Armor Class</label>
        </div>

        <div class="col-xs-4 col-s-4 col-md-4 noPadding">
            <textarea class="form-control" id="attributeText" name="charSkillsDex" ng-model="sheet.character.characterInit" rows="1"></textarea>
            <label for="characterInit">Initiative</label>
        </div>

        <div class="col-xs-4 col-s-4 col-md-4 noPaddingR">
            <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterSpeed" rows="1"></textarea>
            <label for="characterSpeed">Speed</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterCurrHp" rows="1"></textarea>
            <label for="characterCurrHp">Current HP</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" id="attributeText" ng-model="sheet.character.characterTempHp" rows="1"></textarea>
            <label for="characterTempHp">Temporary HP</label>
        </div>

        <div class="col-xs-6 col-md-6 noPaddingL">
            <textarea class="form-control" ng-model="sheet.character.characterHitDice" rows="3"></textarea>
            <label for="characterHitDice">Hit Dice</label>
        </div>

        <div class="col-xs-6 col-md-6 noPaddingR">
            <textarea class="form-control" ng-model="sheet.character.characterDeathSaves" rows="3"></textarea>
            <label for="characterDeathSaves">Death Saves</label>
        </div>
    </div>


        <div class="noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterAttacksAndSpells" rows="10"></textarea>
            <label for="characterAttacksAndSpells">Attacks And Spellcasting</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterEquipment" rows="14"></textarea>
            <label for="characterEquipment">Equipment</label>
        </div>
</div><!-- End of the large middle area. !-->

<div id="rightSide" class="col-xs-4 col-md-4">
        <div id="personalityAndInfo">
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterPers" rows="3"></textarea>
            <label for="characterPers">Personality Traits</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterIdeals" rows="3"></textarea>
            <label for="characterIdeals">Ideals</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterBonds" rows="3"></textarea>
            <label for="characterBonds">Bonds</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterFlaws" rows="3"></textarea>
            <label for="characterFlaws">Flaws</label>
        </div>
    </div>
    <div>
        <textarea class="form-control" ng-model="sheet.character.characterFeaturesTraits" rows="26"></textarea>
        <label for="characterFeaturesTraits">Features And Traits</label>
    </div>
</div><!-- End of the right side !-->

<div class="col-xs-4 col-md-4 col-xs-offset-4 col-md-offset-4">
  <button type="submit" class="btn btn-primary">Submit Character</button>
</div>

</form>
</div>
