<nav>
    <a href="/home">HOME</a>
    <a href="/sheet">CREATE</a>
    <a href="/update">UPDATE</a>
</nav>



<h1>Character Sheet</h1>
<hr />
<div class="dice" rows="1">
    <h2 id="diceResults">DICE</h2>
    <button type="button" onclick="diceRoll()">Roll Dice</button>
</div>

<form class="characterForm" ng-submit="sheet.sheet()">

<div class="topOfScreen col-xs-12 col-md-12 noPadding">
    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" ng-model="sheet.character.characterName" rows="3"></textarea>
        <label for="characterName">Character Name</label>
    </div>

    <div class="col-xs-2 col-md-2 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterClass" ng-options="charclass as charclass.class for charclass in sheet.classes"></select>
        <label for="characterClass">Class</label>
    </div>

    <div class="col-xs-1 col-md-1 noPadding">
        <textarea class="form-control" ng-model="sheet.character.characterLevel" rows="1"></textarea>
        <label for="characterLevel">Level</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <textarea class="form-control" ng-model="sheet.character.characterBackground" rows="1"></textarea>
        <label for="characterBackground">Background</label>
    </div>

    <div class="col-xs-2 col-md-2">
        <textarea class="form-control" ng-model="sheet.character.playerName" rows="1"></textarea>
        <label for="playerName">Player Name</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="sheet.character.characterRace" ng-options="race as race.race for race in sheet.races">Select Race</select>
        <label for="characterRace">Character Race</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="sheet.character.charAlign" ng-options="alignment as alignment.alignment for alignment in sheet.alignments"></select>
        <label for="charAlign">Character Alignment</label>
    </div>

    <div class="col-xs-2 col-md-2 ">
        <textarea class="form-control" ng-model="sheet.character.characterExp" rows="1"></textarea>
        <label for="characterExp">Experience Points</label>
    </div>
</div>

<div id="leftSide" class="col-xs-4 col-md-4">

    <div id="attributes" class="col-xs-4 col-md-4 noPaddingL">

        <textarea class="form-control" ng-model="sheet.character.characterStr" rows="3"></textarea>
        <label for="characterStr">Strength</label>

        <textarea class="form-control" ng-model="sheet.character.characterDex" rows="3"></textarea>
        <label for="characterDex">Dexterity</label>

        <textarea class="form-control" ng-model="sheet.character.characterConst" rows="3"></textarea>
        <label for="characterConst">Constitution</label>

        <textarea class="form-control" ng-model="sheet.character.characterInt" rows="3"></textarea>
        <label for="characterInt">Intelligence</label>

        <textarea class="form-control" ng-model="sheet.character.characterWis" rows="3"></textarea>
        <label for="characterWis">Wisdom</label>

        <textarea class="form-control" ng-model="sheet.character.characterChar" rows="3"></textarea>
        <label for="characterChar">Charisma</label>

    </div><!-- End of attributes section !-->


    <div class="col-xs-8 col-md-8 noPadding">

        <textarea class="form-control" ng-model="sheet.character.characterInsp" rows="1"></textarea>
        <label for="characterInsp">Inspiration</label>

        <textarea class="form-control" ng-model="sheet.character.characterProfBonus" rows="1"></textarea>
        <label for="characterProfBonus">Proficiency Bonus</label>

        <textarea class="form-control" ng-model="sheet.character.characterSavingThrows" rows="5"></textarea>
        <label for="characterSavingThrows">Saving Throws</label>

    <div id="skills">
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsAcrobatics">
                <option value="" disabled selected>Acrobatics</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsAnimalHandling">
                <option value="" disabled selected>Animal Handling</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsArcana">
                <option value="" disabled selected>Arcana</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsAthletics">
                <option value="" disabled selected>Athletics</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsDeception">
                <option value="" disabled selected>Deception</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsHistory">
                <option value="" disabled selected>History</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsInsight">
                <option value="" disabled selected>Insight</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsIntimidation">
                <option value="" disabled selected>Intimidation</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsInvestigation">
                <option value="" disabled selected>Investigation</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsMedicine">
                <option value="" disabled selected>Medicine</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsNature">
                <option value="" disabled selected>Nature</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsPerception">
                <option value="" disabled selected>Perception</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsPerformance">
                <option value="" disabled selected>Performance</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsPersuasion">
                <option value="" disabled selected>Persuasion</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsReligion">
                <option value="" disabled selected>Religion</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsSleightOfHand">
                <option value="" disabled selected>Sleight of Hand</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsStealth">
                <option value="" disabled selected>Stealth</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <select id="charSkills"class="form-control" ng-model="sheet.character.characterSkillsSurvival">
                <option value="" disabled selected>Survival</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
    </div>



    </div> <!-- end of skills !-->



    <div class="col-xs-12 col-md-12 noPadding">
        <textarea class="form-control" ng-model="sheet.character.characterPercep" rows="1"></textarea>
        <label for="characterPercep">Passive Wisdom (Perception)</label>
    </div>

    <div class="col-xs-12 col-md-12 noPadding">
        <textarea class="form-control" ng-model="sheet.character.characterLanguages" rows="10"></textarea>
        <label for="characterLanguages">Other Proficiences and Languages</label>
    </div>
</div> <!-- end of left column !-->





<div id="theMiddle" class="col-xs-4 col-md-4">
        <div id="hpAndArmor">

        <div class="col-xs-4 col-s-4 col-md-4 noPaddingL">
            <textarea class="form-control" ng-model="sheet.character.characterArmor" rows="3"></textarea>
            <label for="characterArmor">Armor Class</label>
        </div>

        <div class="col-xs-4 col-s-4 col-md-4 noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterInit" rows="3"></textarea>
            <label for="characterInit">Initiative</label>
        </div>

        <div class="col-xs-4 col-s-4 col-md-4 noPaddingR">
            <textarea class="form-control" ng-model="sheet.character.characterSpeed" rows="3"></textarea>
            <label for="characterSpeed">Speed</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterCurrHp" rows="3"></textarea>
            <label for="characterCurrHp">Current HP</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterTempHp" rows="3"></textarea>
            <label for="characterTempHp">Temporary HP</label>
        </div>

        <div class="col-xs-6 col-md-6 noPaddingL">
            <textarea class="form-control" ng-model="sheet.character.characterHitDice" rows="3"></textarea>
            <label for="characterHitDice">Hit Dice</label>
        </div>

        <div class="col-xs-6 col-md-6 noPaddingR">
            <textarea class="form-control" ng-model="sheet.character.characterDeathSaves" rows="3"></textarea>
            <label for="characterDeathSaves">Death Saves</label>
        </div>
    </div>


        <div class="noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterAttacksAndSpells" rows="10"></textarea>
            <label for="characterAttacksAndSpells">Attacks And Spellcasting</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="sheet.character.characterEquipment" rows="14"></textarea>
            <label for="characterEquipment">Equipment</label>
        </div>
</div><!-- End of the large middle area. !-->

<div id="rightSide" class="col-xs-4 col-md-4">

    <div id="personalityAndInfo">
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterPers" rows="3"></textarea>
            <label for="characterPers">Personality Traits</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterIdeals" rows="3"></textarea>
            <label for="characterIdeals">Ideals</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterBonds" rows="3"></textarea>
            <label for="characterBonds">Bonds</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="sheet.character.characterFlaws" rows="3"></textarea>
            <label for="characterFlaws">Flaws</label>
        </div>
    </div>
    <div>
        <textarea class="form-control" ng-model="sheet.character.characterFeaturesTraits" rows="26"></textarea>
        <label for="characterFeaturesTraits">Features And Traits</label>
    </div>
</div><!-- End of the right side !-->

<div class="col-xs-4 col-md-4 col-xs-offset-4 col-md-offset-4">
  <button type="submit" class="btn btn-primary">Submit Character</button>
</div>

</form>
