<nav>
    <a href="/home">HOME</a>
    <a href="/sheet">CREATE</a>
    <a href="/update">UPDATE</a>
</nav>

<h1>Update Character</h1>
<hr />
<div class="dice" rows="1">
    <h2 id="diceResults">DICE</h2>
    <button type="button" onclick="diceRoll()">Roll Dice</button>
</div>
<form class="characterForm" ng-submit="update.sheet()">

<div class="topOfScreen">
    <div class="col-xs-4 col-md-4">
        <textarea class="form-control" ng-model="update.selectedId.charname" readonly disabled="true" rows="3" placeholder="{{update.selectedId.charname}}"></textarea>
        <label for="characterName">Character Name</label>
    </div>

    <div class="col-xs-2 col-md-2 noPaddingR">
        <select class="form-control col-xs-12 col-md-12" ng-model="update.selectedId.charclass" readonly disabled="true" ng-options="charclass.id as charclass.class for charclass in update.classes"></select>
        <label for="characterClass">Class</label>
    </div>

    <div class="col-xs-1 col-md-1 noPadding">
        <input type="text" class="form-control" ng-value="update.selectedId.level" rows="1"/>
        <label for="characterLevel">Level</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">
        <textarea class="form-control" ng-model="update.selectedId.background" readonly disabled="true" rows="1"></textarea>
        <label for="characterBackground">Background</label>
    </div>

    <div class="col-xs-2 col-md-2">
        <textarea class="form-control" ng-model="update.character.playerName" readonly rows="1"></textarea>
        <label for="playerName">Player Name</label>
    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">

        <select class="form-control col-xs-12 col-md-12" ng-model="update.selectedId.races" readonly disabled="true" ng-options="race.id as race.race for race in update.races">Select Race</select>
        <label for="characterRace">Character Race</label>

    </div>

    <div class="col-xs-3 col-md-3 noPaddingR">

        <!-- <input type="text" class="form-control col-xs-12 col-md-12" ng-model="sheet.character.charAlign" readonly rows="1" /> -->
        <select class="form-control col-xs-12 col-md-12" ng-model="update.selectedId.alignment" ng-options="alignment.id as alignment.alignment for alignment in update.alignments"></select>
        <label for="charAlign">Character Alignment</label>

    </div>

    <div class="col-xs-2 col-md-2 ">
        <textarea class="form-control" ng-model="update.selectedId.exp" rows="1"></textarea>
        <label for="characterExp">Experience Points</label>
    </div>
</div>

<div id="leftSide" class="col-xs-4 col-md-4">

    <div id="attributes" class="col-xs-4 col-md-4 noPaddingL">

        <textarea class="form-control" ng-model="update.selectedId.strength" rows="3"></textarea>
        <label for="characterStr">Strength</label>

        <textarea class="form-control" ng-model="update.selectedId.dexterity" rows="3"></textarea>
        <label for="characterDex">Dexterity</label>

        <textarea class="form-control" ng-model="update.selectedId.constitution" rows="3"></textarea>
        <label for="characterConst">Constitution</label>

        <textarea class="form-control" ng-model="update.selectedId.intelligence" rows="3"></textarea>
        <label for="characterInt">Intelligence</label>

        <textarea class="form-control" ng-model="update.selectedId.wisdom" rows="3"></textarea>
        <label for="characterWis">Wisdom</label>

        <textarea class="form-control" ng-model="update.selectedId.charisma" rows="3"></textarea>
        <label for="characterChar">Charisma</label>

    </div><!-- End of attributes section !-->


    <div class="col-xs-8 col-md-8 noPadding">

        <textarea class="form-control" ng-model="update.selectedId.inspiration" rows="1"></textarea>
        <label for="characterInsp">Inspiration</label>

        <textarea class="form-control" ng-model="update.selectedId.proficiency" rows="1"></textarea>
        <label for="characterProfBonus">Proficiency Bonus</label>

        <textarea class="form-control" ng-model="update.selectedId.savingthrows" rows="5"></textarea>
        <label for="characterSavingThrows">Saving Throws</label>

    <div class="col-xs-6 col-md-6 noPadding" id="skills">
        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.acrobaticsskill"/>
        <label class="theSkillLabels" for="characterSkill">Acrobatics</label>

        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.animalhandlingskill"/>
        <label class="theSkillLabels" for="characterSkill">Animal Handling</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.arcanaskill"/>
        <label class="theSkillLabels" for="characterSkill">Arcana</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.athleticsskill"/>
        <label class="theSkillLabels" for="characterSkill">Athletics</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.deceptionskill"/>
        <label class="theSkillLabels" for="characterSkill">Deception</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.historyskill"/>
        <label class="theSkillLabels" for="characterSkill">History</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.insightskill"/>
        <label class="theSkillLabels" for="characterSkill">Insight</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.intimidationskill"/>
        <label class="theSkillLabels" for="characterSkill">Intimidation</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.investigationskill"/>
        <label class="theSkillLabels" for="characterSkill">Investigation</label>
</div>
<div class="col-xs-6 col-md-6 noPadding" id="skills">

        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.medicineskill"/>
        <label class="theSkillLabels" for="characterSkill">Medicine</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.natureskill"/>
        <label class="theSkillLabels" for="characterSkill">Nature</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.perceptionskill"/>
        <label class="theSkillLabels" for="characterSkill">Perception</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.performanceskill"/>
        <label class="theSkillLabels" for="characterSkill">Performance</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.persuasionskill"/>
        <label class="theSkillLabels" for="characterSkill">Persuasion</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.religionskill"/>
        <label class="theSkillLabels" for="characterSkill">Religion</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.sleightofhandskill"/>
        <label class="theSkillLabels" for="characterSkill">Sleight of Hand</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.stealthskill"/>
        <label class="theSkillLabels" for="characterSkill">Stealth</label>


        <input type="text" id="charSkills"class="form-control" ng-model="update.selectedId.survivalskill"/>
        <label class="theSkillLabels" for="characterSkill">Survival</label>

    </div>



    </div> <!-- end of skills !-->



    <div class="col-xs-12 col-md-12 noPadding">
        <textarea class="form-control" ng-model="update.selectedId.perception" rows="1"></textarea>
        <label for="characterPercep">Passive Wisdom (Perception)</label>
    </div>

    <div class="col-xs-12 col-md-12 noPadding">
        <textarea class="form-control" ng-model="update.selectedId.otherproficiencies" rows="10"></textarea>
        <label for="characterLanguages">Other Proficiences and Languages</label>
    </div>
</div> <!-- end of left column !-->





<div id="theMiddle" class="col-xs-4 col-md-4">
        <div id="hpAndArmor">

        <div class="col-xs-4 col-s-4 col-md-4 noPaddingL">
            <textarea class="form-control" ng-model="update.selectedId.armor" rows="3"></textarea>
            <label for="characterArmor">Armor Class</label>
        </div>

        <div class="col-xs-4 col-s-4 col-md-4 noPadding">
            <textarea class="form-control" ng-model="update.selectedId.initiative" rows="3"></textarea>
            <label for="characterInit">Initiative</label>
        </div>

        <div class="col-xs-4 col-s-4 col-md-4 noPaddingR">
            <textarea class="form-control" ng-model="update.selectedId.speed" rows="3"></textarea>
            <label for="characterSpeed">Speed</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="update.selectedId.currenthp" rows="3"></textarea>
            <label for="characterCurrHp">Current HP</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="update.selectedId.temphp" rows="3"></textarea>
            <label for="characterTempHp">Temporary HP</label>
        </div>

        <div class="col-xs-6 col-md-6 noPaddingL">
            <textarea class="form-control" ng-model="update.selectedId.hitdice" rows="3"></textarea>
            <label for="characterHitDice">Hit Dice</label>
        </div>

        <div class="col-xs-6 col-md-6 noPaddingR">
            <textarea class="form-control" ng-model="update.selectedId.deathsaves" rows="3"></textarea>
            <label for="characterDeathSaves">Death Saves</label>
        </div>
    </div>


        <div class="noPadding">
            <textarea class="form-control" ng-model="update.selectedId.attacksandspells" rows="10"></textarea>
            <label for="characterAttacksAndSpells">Attacks And Spellcasting</label>
        </div>

        <div class="noPadding">
            <textarea class="form-control" ng-model="update.selectedId.equipment" rows="14"></textarea>
            <label for="characterEquipment">Equipment</label>
        </div>
</div><!-- End of the large middle area. !-->

<div id="rightSide" class="col-xs-4 col-md-4">

    <div id="personalityAndInfo">
        <div>
            <textarea class="form-control" ng-model="update.selectedId.personality" rows="3"></textarea>
            <label for="characterPers">Personality Traits</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="update.selectedId.ideals" rows="3"></textarea>
            <label for="characterIdeals">Ideals</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="update.selectedId.bonds" rows="3"></textarea>
            <label for="characterBonds">Bonds</label>
        </div>
        <div>
            <textarea class="form-control" ng-model="update.selectedId.flaws" rows="3"></textarea>
            <label for="characterFlaws">Flaws</label>
        </div>
    </div>
    <div>
        <textarea class="form-control" ng-model="update.selectedId.featuresandtraits" rows="26"></textarea>
        <label for="characterFeaturesTraits">Features And Traits</label>
    </div>
</div><!-- End of the right side !-->

<div class="col-xs-4 col-md-4 col-xs-offset-4 col-md-offset-4">
  <button type="submit" class="btn btn-primary">Submit Character</button>
</div>

</form>
