h1 {
    text-align: center;
}
h2{
    text-align: center;
}

.noPaddingL {
    padding-left: 2px;
}

.noPaddingR {
    padding-right: 2px;
}

.noPadding {
    padding: 0px;
}

#charSkills {
    height: 20px;
    margin: 2px 0px 0px 0px;
    /*border-radius: 15px;*/
    background-color: #EEEEEE;
    /*box-shadow: 8px 8px 7.5px rgba(0, 180, 255, 0.5);*/
}

.theSkillLabels {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.dice {
    margin: 0;
    text-align: center;
}
