h1 {
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
}

.noPaddingL {
    padding-left: 2px;
}

.noPaddingR {
    padding-right: 2px;
}

.noPadding {
    padding: 0px;
}

#navigation {
    color: black;
    font-size: 24px;
    background-color: #EEEEEE;
}

#navigation a {
    margin: 5px;
}

.container {
    margin: 25px 0px 0px 0px;
}

#attributes {
    text-align-last: center;
}
#hpAndArmor {
    text-align-last: center;
}


#attributeText {
    font-size: 44px;
    background-color: #EEEEEE;
    color: black;
}

#attributeNoText{
    background-color: #EEEEEE;
    color: black;
}

hr {
    clear: both;
    visibility: hidden;
    padding: 0px;
    margin: 5px;
}

#charSkills {
    height: 20px;
    margin: 2px 0px 0px 0px;
    border: 1px solid black;
    background-color: #EEEEEE;
    text-align: center;
}

#charSkillsStr, #charSkillsDex, #charSkillsInt, #charSkillsWis, #charSkillsChar {
    height: 20px;
    margin: 2px 0px 0px 0px;
    border: 1px solid black;
    background-color: #EEEEEE;
    text-align: center;
    color: black;
}



.theSkillLabels {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}

.dice {
    margin: 0;
    text-align: center;
}
